.toc-container {
  position: fixed;
  top: 0;
  right: 0; /* Changed from left: 0; */
  width: 200px;
  height: 100%;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow to appear from the right */
  overflow-y: auto;
}

.toc-container h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.toc-container ul {
  list-style-type: none;
  padding: 0;
}

.toc-container li {
  margin: 0.5em 0;
}
